body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .font-display {
    font-family: 'Playfair Display', serif;
}

.bg-streats-red {
    background-color: #631003;
}

.text-streats-red {
    color: #631003;
}

.modal-overlay {
    transition: opacity 0.3s ease;
}

.modal-content {
    transition: transform 0.3s ease;
    transform: translateY(-20px);
}

.modal-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-overlay.hidden .modal-content {
    transform: translateY(-40px);
}