---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; url=/en/">
    <link rel="canonical" href="/en/">
  </head>
  <body>
    <p>Redirecting you to the <a href="/en/">English version of the site</a>.</p>
  </body>
</html>