---
layout: "layouts/base.njk"
title: "ကျွန်ုပ်တို့အကြောင်း"
header: "partials/header_mm.njk"
lang: mm
---

<main>
    <section class="bg-streats-red py-12">
        <div class="container mx-auto px-6 text-center">
            <h1 class="text-4xl md:text-5xl font-bold text-white font-display">ကျွန်ုပ်တို့၏ဇာတ်လမ်း</h1>
        </div>
    </section>

    <section class="py-16 md:py-24 bg-white">
        <div class="container mx-auto px-6">
            <div class="max-w-5xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-5 gap-12 items-center">
                    
                    <div class="md:col-span-3">
                         <img src="/assets/Images/website_images/about_page/About_Us.jpg" alt="The interior of Streats Dining restaurant" class="rounded-lg shadow-xl w-full">
                    </div>
                    
                    <div class="space-y-4 md:col-span-2">
                        <h2 class="text-3xl font-bold font-display text-gray-900">Streats Dining မှကြိုဆိုပါသည်</h2>
                        <p class="text-gray-600 leading-relaxed">
                            ခေတ်မီသော ibis Styles Mandalay Centre Hotel ၏ ဒုတိယထပ်တွင် တည်ရှိသော Streats Dining သည် အဆင့်မြင့်၊ ခေတ်သစ်စားသောက်ဆိုင်တစ်ခုဖြစ်ပြီး အထူးသီးသန့် အရသာပေါင်းစပ်မှုများကို ပေးဆောင်နေပါသည်။ ကျွန်ုပ်တို့၏အမည်သည် ကမ္ဘာတစ်ဝှမ်းမှ လမ်းဘေးအစားအစာများနှင့် ထင်ရှားသောဟင်းလျာများကို သင့်စားပွဲတင်ဆက်ပေးနိုင်ရေးအတွက် ကျွန်ုပ်တို့၏ စားသောက်အပျော်အပါးကို တင်ပြနေခြင်းဖြစ်ပြီး စတိုင်ကျသည့်၊ အဆင်ပြေသောပတ်ဝန်းကျင်၌ စားသုံးနိုင်မည်ဖြစ်ပါသည်။
                        </p>
                        <p class="text-gray-600 leading-relaxed">
                            ကျွမ်းကျင်သော ဟင်းချုပ်မင်းသားများမှ တစ်ကမ္ဘာလုံးအနှံ့ရှိအစားအစာအမျိုးမျိုး၊ ဥရောပထင်ရှားသည့်အဓိကဟင်းလျာများမှ စတင်၍ အာရှ၏ အထူးအရသာထက်မြက်မှုနှင့် အမျိုးမျိုးသောအစားအစာအရသာများအထိ ဖန်တီးထားသော မီနူးကို အားလုံးအတွက် စီစဉ်ထားပါသည်။ ကျွန်ုပ်တို့သည် အသစ်အသစ်၊ အရည်အသွေးမြင့် ပါဝင်ပစ္စည်းများကို အသုံးပြုကာ ဧည့်သည်တိုင်းအတွက် အထူးစားသောက်အတွေ့အကြုံ တစ်ရပ်ကို ဖန်တီးပေးရန် ကတိပြုထားပါသည်။
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>